<div class="modal modal-overlay">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title">Task Details</h4>
    </div>
    <div class="modal-body">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control" [(ngModel)]="task.title">
      </div>
      <div class="form-group">
        <label>Description</label>
        <textarea class="form-control" [(ngModel)]="task.description"></textarea>
      </div>
      <div class="form-group">
        <label>Priority</label>
        <select id="priority" class="form-control status-dropdown" [(ngModel)]="task.priority" name="priority">
          <option *ngFor="let option of priorityOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Estimate</label>
        <input type="text" class="form-control" [(ngModel)]="task.estimated_time">
      </div>
      <div class="form-group">
        <label for="status">Status:</label>
        <select id="status" class="form-control status-dropdown" [(ngModel)]="task.status" name="status" (change)="onStatusChange()">
          <option *ngFor="let option of statusOptions" [value]="option">{{ option }}</option>
        </select>
      </div>
      <div class="form-group">
        <label>Created</label>
        <input type="text" class="form-control" [(ngModel)]="task.created_at" [disabled]="true">
      </div>
      <div class="form-group">
        <label for="started">Started</label>
        <input id="started" class="form-control" [(ngModel)]="task.started" name="started" [disabled]="true">
      </div>
      <div class="form-group">
        <label>Completed</label>
        <input type="text" class="form-control" [(ngModel)]="task.end_date" [disabled]="true">
      </div>
      <div>
        <label>Project:</label>
        <select class="form-control status-dropdown" [(ngModel)]="task.project_id">
          <option [value]="currentProject.id"> {{ currentProject.name }}</option>
        </select>
      </div>
      <div>
        <label>Assigned to:</label>
        <select class="form-control status-dropdown" [(ngModel)]="task.assigned_to">
          <option [value]="currentUser.id">
            {{ currentUser.FirstName }}{{ currentUser.LastName }}
          </option>
        </select>
      </div>
      <div>
        <label>Functionality:</label>
        <select class="form-control status-dropdown" [(ngModel)]="task.functionality_id">
          <option *ngFor="let functionality of functionalityList" [value]="functionality.id">
            {{ functionality.title }}
          </option>
        </select>
      </div>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-primary" (click)="onCloseClick()">Close</button>
      <button type="button" class="btn btn-primary" (click)="onSaveClick()">Save</button>
    </div>
  </div>
</div>
